

.correct{
    color:green;
}
.incorrect{
    color: red;;
}
.main{
    display: flex;
    justify-content: center;
   
}
.content{
    display: flex;
    flex-direction: column;
 
}

.both{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
}
.true span{
    color:green;
    font-size: large;
}
.false span{
    color:red;
    font-size: large;
}